<h1>Travel</h1>

<div id="contents">
    <div class="box">
        <div>
            <div class="body">
                <ul id="sites">
                    {{#each trips}}
                    <li>
                        <!-- Updated HREF to use the API -->
                        <a href="/api/trips/{{code}}"><img src="/images/{{image}}" alt="{{name}}"></a>
                        <h2><a href="/api/trips/{{code}}">{{name}}</a></h2>
                        <p>{{description}}</p>
                        <p>{{details}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
